* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

section {
    margin-bottom: 130px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.primary-color {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding-top: 50px;
}

nav li {
    list-style: none;
    margin-left: 50px;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 10px 40px;
    color: #FD6E0A;
    background: none;
    margin-left: 20px;
}

nav li:hover {
    color: white;
    background-color: #FD6E0A;

}

nav ul {
    display: flex;
    align-items: center;
}

.btn-primary {

    color: white;
    background-color: #FD6E0A;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
}

.btn-primary:hover {
    color: white;
    background-color: #FD6E0A;
}

.banner {
    margin: 0 200px;

}

.banner-flex {
    display: flex;
    align-items: center;
}

.sub-title {
    margin-bottom: 5px;
    font-size: 45px;
    font-weight: 400;
}

.name-title {
    margin-bottom: 20px;
    font-size: 85px;
    font-weight: 700;
}

.title-description {
    font-size: 16px;
    color: #757575;
    margin-bottom: 10px;
}

.btn-call {
    border: 1px solid orange;
    border-radius: 5px;
    padding: 10px 40px;
    color: #FD6E0A;
    background: none;
    margin-left: 20px;

}

.btn-call:hover {
    color: white;
    background-color: #FD6E0A;
}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    margin-bottom: 130px;

}

main {
    max-width: 1200px;
    margin: 0 auto;
}

/* About Section styles */
.about {
    text-align: center;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    height: 250px;


}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 45px;

}

.section-description {
    text-align: center;
    color: #757575;
    line-height: 30px;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
}

.info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    color: #757575;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.info-value {
    color: #474747;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

/* What i do styles */

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px #0000000f;
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    color: #181818;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: #757575;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

/* Resume Section */
.resume {}

.resume-container {
    display: flex;
    gap: 24px;
}

.degre-title {
    color: #474747;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    margin-top: 10px;
}

.degre-title:hover {
    color: #FD6E0A;
}

.degre-subtitle {
    color: #757575;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-top: 20px;
    margin-bottom: 10px;
}



.degre-description {
    color: #757575;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.degre-head {
    color: #474747;
    ont-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    padding-top: 30px;
}

hr {
    width: 558px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.download-cv {
    margin-top: 20px;
    text-align: center;
}

/* footer section */

.footer-section {
    background: #FFF8F3;
    margin-bottom: 50px;
    padding: 20px 30px;


}

.footer-area {
    display: flex;
    gap: 40px
}

.footer-title {
    color: #181818;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    padding-bottom: 35px;
}

.form-item {
    margin-bottom: 24px;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    border: 0;
    padding: 5px 10px;
}

textarea {
    border: 0px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.footer-icon {
    padding-top: 24px;
}

input.btn-primary {
    width: 200px;

}